\documentclass[11pt,a4paper]{article}

\usepackage[
    top=1.6cm,
    bottom=1.7cm,
    left=1.6cm,
    right=1.6cm,
    columnsep=0.7cm
]{geometry}

\usepackage[T1]{fontenc}
\usepackage[utf8]{inputenc}
\usepackage{eurosym}
\DeclareUnicodeCharacter{20AC}{\euro}
\DeclareUnicodeCharacter{00B2}{\textsuperscript{2}}

\usepackage{graphicx}
\usepackage{array}
\usepackage{float}
\usepackage{fancyhdr}
\usepackage{parskip}
\usepackage{caption}
\usepackage{multicol}
\usepackage{titlesec}
\usepackage{tabularx}
\usepackage{booktabs}
\usepackage{enumitem}
\usepackage[
    pdftitle={((( full_report_name | latex_escape )))},
    pdfauthor={((( report_author | latex_escape ))) }
]{hyperref}

\pagestyle{fancy}
\fancyhf{}
\lhead{\small ((( report_code | latex_escape )))}
\rhead{\small Project Outline Report}
\cfoot{\thepage}

\setlength{\parindent}{0pt}
\setlength{\parskip}{0.45em}
\setlength{\columnsep}{0.7cm}
\setlength{\emergencystretch}{2em}

\sloppy

% Table border settings.
\setlength{\arrayrulewidth}{0.55pt}
\setlength{\doublerulesep}{1.2pt}

\titlespacing*{\section}{0pt}{0.75em}{0.3em}
\titleformat{\section}
    {\large\bfseries}
    {}
    {0pt}
    {}

\captionsetup{
    font=small,
    skip=3pt
}

\newcommand{\outlineheading}[1]{%
    \vspace{0.15em}%
    {\large\bfseries #1}\par
    \vspace{0.15em}%
}

\begin{document}

% ---------------- Full-width title ----------------

\begin{minipage}[t]{0.84\textwidth}
    {\LARGE\textbf{
        ((( report_code | latex_escape )))
        --
        ((( report_title | latex_escape )))
    }}\\[0.3em]

    {\large Project Outline Report}
\end{minipage}
\hfill
\begin{minipage}[t]{0.12\textwidth}
    \raggedleft

    ((* if logo_path *))
    \includegraphics[
        width=1.2cm,
        height=1.2cm,
        keepaspectratio
    ]{((( logo_path )))}
    ((* endif *))
\end{minipage}

\vspace{0.5em}
\hrule
\vspace{0.6em}

% ---------------- Project metadata ----------------

\small
\renewcommand{\arraystretch}{1.08}
\begin{tabularx}{\textwidth}{@{}>{\bfseries}p{2.1cm}X>{\bfseries}p{2.1cm}X@{}}
Report ID: & ((( report_code | latex_escape ))) &
Department: & ((( department | latex_escape ))) \\
Author: & ((( report_author | latex_escape ))) &
Responsible: & ((( sections.responsible_person | latex_escape ))) \\
Report date: & ((( report_date | latex_escape ))) &
Target date: & ((( sections.target_date | latex_escape ))) \\
Status: & ((( sections.status | latex_escape ))) &
Supporting members: & ((( sections.supporting_members | latex_escape ))) \\
\end{tabularx}
\normalsize

\vspace{0.4em}

% ---------------- Overview ----------------

\begin{multicols}{2}

\section*{Main Goal}
((( sections.main_goal | latex_escape )))

\section*{Project Description}
((( sections.description | latex_escape )))

% ---------------- Deliverables ----------------

((* if sections.deliverables *))
\section*{Deliverables}

\small
\renewcommand{\arraystretch}{1.18}

\begin{tabularx}{\columnwidth}{
    ||>{\centering\arraybackslash}p{0.8cm}
    |>{\raggedright\arraybackslash}X||
}
\hline\hline
\textbf{No.} & \textbf{Deliverable} \\
\hline\hline
((* for deliverable in sections.deliverables *))
((( loop.index ))) &
((( deliverable | latex_escape ))) \\
\hline
((* endfor *))
\hline
\end{tabularx}

\normalsize
((* endif *))

% ---------------- Testing and verification ----------------

((* if sections.testing_items *))
\section*{Testing and Verification}

\small
\renewcommand{\arraystretch}{1.18}

\begin{tabularx}{\columnwidth}{
    ||>{\raggedright\arraybackslash}p{0.34\columnwidth}
    |>{\raggedright\arraybackslash}X||
}
\hline\hline
\textbf{Test or Review} &
\textbf{Purpose / Acceptance Criterion} \\
\hline\hline
((* for item in sections.testing_items *))
((( item["Test or review"] | latex_escape ))) &
((( item["Purpose / acceptance criterion"] | latex_escape ))) \\
\hline
((* endfor *))
\hline
\end{tabularx}

\normalsize
((* endif *))

% ---------------- Timeline ----------------

((* if sections.timeline_items *))
\section*{Timeline}

\small
\renewcommand{\arraystretch}{1.18}

\begin{tabularx}{\columnwidth}{
    ||>{\raggedright\arraybackslash}p{0.28\columnwidth}
    |>{\raggedright\arraybackslash}X||
}
\hline\hline
\textbf{Period} &
\textbf{Planned Work} \\
\hline\hline
((* for item in sections.timeline_items *))
((( item["Period"] | latex_escape ))) &
((( item["Planned work"] | latex_escape ))) \\
\hline
((* endfor *))
\hline
\end{tabularx}

\normalsize
((* endif *))

% ---------------- Technology ----------------

((* if sections.technology_items *))
\section*{Technology}

\small
\renewcommand{\arraystretch}{1.18}

\begin{tabularx}{\columnwidth}{
    ||>{\raggedright\arraybackslash}p{0.34\columnwidth}
    |>{\raggedright\arraybackslash}X||
}
\hline\hline
\textbf{Technology / Method} &
\textbf{Application} \\
\hline\hline
((* for item in sections.technology_items *))
((( item["Technology / method"] | latex_escape ))) &
((( item["Application"] | latex_escape ))) \\
\hline
((* endfor *))
\hline
\end{tabularx}

\normalsize
((* endif *))

\end{multicols}

% ---------------- Full-width cost table ----------------

((* if sections.cost_items or sections.total_cost or sections.cost_notes *))
\section*{Cost}

((* if sections.cost_notes *))
((( sections.cost_notes | latex_escape )))
((* endif *))

((* if sections.cost_items *))
\small
\renewcommand{\arraystretch}{1.1}
\begin{tabularx}{\textwidth}{@{}X>{\centering\arraybackslash}p{3.2cm}>{\raggedleft\arraybackslash}p{3.0cm}@{}}
\toprule
\textbf{Factor} & \textbf{Status} & \textbf{Value} \\
\midrule
((* for item in sections.cost_items *))
((( item["Factor"] | latex_escape ))) &
((( item["Status"] | latex_escape ))) &
((( item["Value"] | latex_escape ))) \\
((* endfor *))
((* if sections.total_cost *))
\midrule
\textbf{Total estimated cost} & & \textbf{((( sections.total_cost | latex_escape )))} \\
((* endif *))
\bottomrule
\end{tabularx}
\normalsize
((* elif sections.total_cost *))
\textbf{Total estimated cost:} ((( sections.total_cost | latex_escape )))
((* endif *))
((* endif *))

((* if sections.notes *))
\section*{Notes}
((( sections.notes | latex_escape )))
((* endif *))

% ---------------- Full-width graph ----------------

((* if has_csv and chart_path *))
\vfill

\begin{center}
    \includegraphics[
        width=0.94\textwidth,
        height=4.0cm,
        keepaspectratio
    ]{((( chart_path )))}

    \vspace{0.15em}

    {\small Figure 1: Project data generated from the uploaded CSV file.}
\end{center}
((* endif *))

% ---------------- Images on following pages ----------------

((* if has_images *))
\clearpage

\section*{Project Images}

\begin{multicols}{2}

((* for image_path in image_paths *))
\begin{center}
    \includegraphics[
        width=0.95\columnwidth,
        height=4.8cm,
        keepaspectratio
    ]{((( image_path )))}
\end{center}

\vspace{0.3em}
((* endfor *))

\end{multicols}
((* endif *))

\end{document}
