\documentclass[11pt,a4paper]{article}

\usepackage[
    top=1.6cm,
    bottom=1.7cm,
    left=1.6cm,
    right=1.6cm,
    columnsep=0.7cm
]{geometry}

\usepackage{graphicx}
\usepackage{array}
\usepackage{float}
\usepackage{fancyhdr}
\usepackage{parskip}
\usepackage{caption}
\usepackage{multicol}
\usepackage[
    pdftitle={((( full_report_name | latex_escape )))},
    pdfauthor={((( report_author | latex_escape )))}
]{hyperref}

\pagestyle{fancy}
\fancyhf{}
\lhead{\small ((( report_code | latex_escape )))}
\rhead{\small Testing Report}
\cfoot{\thepage}

\setlength{\parindent}{0pt}
\setlength{\parskip}{0.55em}
\setlength{\columnsep}{0.7cm}

% Reduces overfull lines where practical.
\sloppy

% Compact section formatting.
\usepackage{titlesec}
\titlespacing*{\section}{0pt}{0.8em}{0.35em}
\titleformat{\section}
    {\large\bfseries}
    {}
    {0pt}
    {}

% Compact figure captions.
\captionsetup{
    font=small,
    skip=3pt
}

\begin{document}

% ---------------- Full-width title ----------------

\begin{minipage}[t]{0.84\textwidth}
    {\LARGE\textbf{
        ((( report_code | latex_escape )))
        --
        ((( report_title | latex_escape )))
    }}\\[0.3em]

    {\large Testing Report}
\end{minipage}
\hfill
\begin{minipage}[t]{0.12\textwidth}
    \raggedleft

    ((* if logo_path *))
    \includegraphics[
        width=1.2cm,
        height=1.2cm,
        keepaspectratio
    ]{((( logo_path )))}
    ((* endif *))
\end{minipage}

\vspace{0.5em}
\hrule
\vspace{0.6em}

% ---------------- Two-column report text ----------------

\begin{multicols}{2}

\small
\renewcommand{\arraystretch}{1.1}

\begin{tabular}{
    @{}
    >{\bfseries}p{2.1cm}
    p{\dimexpr\columnwidth-2.1cm\relax}
    @{}
}
Report ID: &
((( report_code | latex_escape ))) \\

Department: &
((( department | latex_escape ))) \\

Author: &
((( report_author | latex_escape ))) \\

Participants: &
((( participants | latex_escape ))) \\

Date: &
((( report_date | latex_escape ))) \\
\end{tabular}

\normalsize
\vspace{0.4em}

\section*{Purpose of Test}
((( sections.objective | latex_escape )))

\section*{Setup and Procedure}
((( sections.setup | latex_escape )))

\section*{Main Results}
((( sections.results | latex_escape )))

\section*{Conclusion and Next Action}
((( sections.conclusion | latex_escape )))

\end{multicols}

% ---------------- Full-width graph ----------------

((* if has_csv and chart_path *))
\vfill

\begin{center}
    \includegraphics[
        width=0.94\textwidth,
        height=4.0cm,
        keepaspectratio
    ]{((( chart_path )))}

    \vspace{0.15em}

    {\small Figure 1: Results generated from the uploaded CSV data.}
\end{center}
((* endif *))

% ---------------- Images on following pages ----------------

((* if has_images *))
\clearpage

\section*{Images}

\begin{multicols}{2}

((* for image_path in image_paths *))
\begin{center}
    \includegraphics[
        width=0.95\columnwidth,
        height=4.8cm,
        keepaspectratio
    ]{((( image_path )))}
\end{center}

\vspace{0.3em}
((* endfor *))

\end{multicols}
((* endif *))

\end{document}