\documentclass[11pt,a4paper]{article}

\usepackage[margin=1.8cm]{geometry}
\usepackage{graphicx}
\usepackage{booktabs}
\usepackage{array}
\usepackage{float}
\usepackage{fancyhdr}
\usepackage{parskip}
\usepackage[
    pdftitle={((( full_report_name | latex_escape )))},
    pdfauthor={((( report_author | latex_escape )))}
]{hyperref}
\pagestyle{fancy}
\fancyhf{}
\lhead{((( report_code | latex_escape )))}
\rhead{Testing Report}
\cfoot{\thepage}

\setlength{\parindent}{0pt}

\begin{document}

\begin{minipage}{0.72\textwidth}
    {\LARGE\textbf{Testing Report}}\\[0.3em]
    {\large ((( report_title | latex_escape )))}
\end{minipage}
\begin{minipage}{0.26\textwidth}
    \raggedleft
    ((* if logo_path *))
    \includegraphics[width=0.9\linewidth]{((( logo_path )))}
    ((* endif *))
\end{minipage}

\vspace{1em}
\hrule
\vspace{1em}

\begin{tabular}{@{}ll@{}}
\textbf{Report ID:} & ((( report_code | latex_escape ))) \\
\textbf{Department:} & ((( department | latex_escape ))) \\
\textbf{Author:} & ((( report_author | latex_escape ))) \\
\textbf{Participants:} & ((( participants | latex_escape ))) \\
\textbf{Date:} & ((( report_date | latex_escape ))) \\
\end{tabular}

\section*{Purpose of Test}
((( sections.objective | latex_escape )))

\section*{Setup and Procedure}
((( sections.setup | latex_escape )))

\section*{Main Results}
((( sections.results | latex_escape )))

\section*{Conclusion and Next Action}
((( sections.conclusion | latex_escape )))

((* if has_csv *))
\section*{Data}

\begin{figure}[H]
    \centering
    \includegraphics[width=0.9\textwidth]{((( chart_path )))}
    \caption{Chart generated from the uploaded CSV file.}
\end{figure}

((* if table_rows *))
\begin{table}[H]
\centering
\small
\begin{tabular}{((* for column in table_columns *))l((* endfor *))}
\toprule
((* for column in table_columns *))
\textbf{((( column | latex_escape )))}((* if not loop.last *)) & ((* endif *))
((* endfor *)) \\
\midrule
((* for row in table_rows *))
((* for column in table_columns *))
((( row[column] | latex_escape )))((* if not loop.last *)) & ((* endif *))
((* endfor *)) \\
((* endfor *))
\bottomrule
\end{tabular}
\end{table}
((* endif *))
((* endif *))

((* if has_images *))
\section*{Images}

((* for image_path in image_paths *))
\begin{figure}[H]
    \centering
    \includegraphics[width=0.9\textwidth,height=0.7\textheight,keepaspectratio]{((( image_path )))}
\end{figure}
((* endfor *))
((* endif *))

\end{document}